
.row{
    text-align: center;
    
}
.row .card{
    margin:0 30px;
    padding-left: 25px;
}

.row .card img{
padding-top: 20px;

}
.card-title{
    text-transform: capitalize;

}
